* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #efefef;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}

main{
    width: 100%;
    justify-content: center;
    text-align: center;
}

input {
    flex-basis: 79%;
    height: 65px;
    border: 0;
    border-radius: 3px;
    box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);

    font-size: 21px;
    line-height: 40px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    text-align: left;
    padding-left: 15px;
    letter-spacing: 1px;
    color: #333333;
}

.highlight {
    color: #c23616;
}